* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background: #fff;
}

.container {
  width: 80%;
  max-width: 778px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* header */

.header {
  background: linear-gradient(to right, #672280, #a626d3);
  color: #fff;
  height: 65px;
  margin-bottom: 30px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header--title {
  font-size: 1.5rem;
  font-weight: 700;
}

.header--info {
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .header--info {
    display: none;
  }
}

/* form */

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 15px;
  margin-bottom: 30px;
}

.form--input {
  display: grid;
  row-gap: 3px;
}

.form--input label {
  font-size: 0.875rem;
  font-weight: 500;
}

.form--input input {
  height: 30px;
  padding: 7px 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  outline-color: #bcbfc2;
}

.form--input input::placeholder {
  font-family: 'Karla', sans-serif;
  font-size: 0.875rem;
}

.btn {
  grid-column: 1 / -1;
  background: linear-gradient(to right, #672280, #a626d3);
  border-radius: 5px;
  height: 40px;
  border: transparent;
  font-size: 1rem;
  color: #fff;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.9;
}

@media screen and (max-width: 500px) {
  .form {
    grid-template-columns: 1fr;
  }
}

/* meme */
.img-container {
  position: relative;
  border: 2px solid #000;
  max-height: 700px;
}

.top-text,
.bottom-text {
  font-family: 'Anton', sans-serif;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  white-space: nowrap;
}

.bottom-text {
  top: 90%;
}

@media screen and (max-width: 500px) {
  .top-text,
  .bottom-text {
    font-size: 1.7rem;
  }
}
